---
layout: default
title: Home
---

<img src="/public/cover.jpg" alt="color photo ftl" width="100%" height="auto" />

<p>
  Welcome to my personal corner of the web, where I share insights about my research and interests in orthopedic biomechanics and computational mechanics.
</p>

<p>
  My name is Mohammadjavad (Matin) Einafshar, and I am passionate about advancing the understanding of biomechanics through cutting-edge computational and experimental methods. Currently, I am a senior postdoctoral researcher in Orthopedic Biomechanics at Aalborg University Hospital, Denmark, working on projects like SPARK (focused on active knee prosthesis) and developing innovative patient-specific implants.
</p>

<p>
  My academic journey began with a Ph.D. in Biomedical Engineering from Amirkabir University of Technology, Iran, where I specialized in bone-implant interface mechanics and finite element modeling. During my doctoral studies, I was a visiting researcher at KU Leuven, Belgium, furthering my expertise in computational biomechanics. Over the years, I’ve been fortunate to collaborate with esteemed institutions such as Harvard Medical School, Radboud University, and KU Leuven.
</p>

<p>
  If you share an interest in biomechanics, computational modeling, or medical device design, feel free to explore my website. You can also check out some of my work and publications on platforms like <a href="https://scholar.google.com/citations?hl=en&user=WEDAw6QAAAAJ&view_op=list_works&gmla=AH8HC4xrWlJWMVBuuSm8IaptfU_LV5DXsfXYVspaogPCPaYJX1_c2PP-X_D7bxuq-5lVzruI0kX7pY0IugLYkEpw"_blank">Google Scholar</a>.
</p>


<!-- <div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
